*{
    margin:0px;
    padding:0px;
}

body{
    background-color: yellow;
}

button{
    border-radius: 16px;
    padding: 6px 24px;
    background-color: #0022ba;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
}
